* {
    font-size: 20px;
    text-align: center;
    color: white;
}

.headerInicial {
    background-color: #194470;
    width: 82%;
    height: 90px;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}

section {
    height: 100px;
}


/* Forma #1 Clases */

.headerSubtitulo {
    height: 50px;
    width: 80%;
    background-color: #E05631;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}
.headerSubtituloFin {
    height: 65px;
    width: 80%;
    background-color: #E05631;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}

.sectionIzquierdo {
    background-color: #194470;
    width: 40%;
    height: 993px;
    border-radius: 10px;
    margin-left: 10%;
    float: left;
    border: solid black;
}

.menuSectionIzquierdo {
    width: 80%;
    height: 70%;
    border-radius: 10px;
    background-color: #E05631;
    border: solid black;
    margin-left: 10%;
}

.footerSectionIzquierdo {
    width: 80%;
    height: 80px;
    border-radius: 10px;
    margin-left: 10%;
    background-color: #E05631;
    border: solid black;
}

.sectionDerecho {
    background-color: #194470;
    width: 40%;
    height: 993px;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    border: solid black;
}

.articleSectionDerecho1 {
    width: 90%;
    height: 37%;
    margin-left: 5%;
    border: solid black;
    border-radius: 10px;
}
.articleSectionDerecho2 {
    width: 90%;
    height: 40%;
    margin-left: 5%;
    border: solid black;
    border-radius: 10px;
}

.articuloContenido {
    width: 90%;
    background-color: #E05631;
    height: 40px;
    border-radius: 10px;
    margin-left: 5%;
    border: solid black;
}

.parrafoArticleDerecho {
    width: 50%;
    height: max-content;
    border-radius: 10px;
    background-color: #E05631;
    margin-left: 5%;
    float: left;
    border: solid black;
}

.asideArticleDerecho {
    float: left;
    width: 30%;
    height: max-content;
    margin-top: 16px;
    margin-left: 40px;
    background-color: #E05631;
    border-radius: 10px;
    border: solid black;
}

.footerArticleDerecho {
    height: 40px;
    width: 90%;
    background-color: #E05631;
    margin-left: 5%;
    margin-top: 250px;
    border-radius: 10px;
    text-align: center;
    border: solid black;
}

.footerFinal {
    background-color: #194470;
    width: 82%;
    height: 120px;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 1020px;
    border: solid black;
}


/* Forma #2 Identificadores (ID)*/

#menuInicial {
    background-color: #E05631;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}

.fondo{
    background-image: url(../img/LoL1.jpg);
    width: 100%;
    height: max-content;
    background-size: cover;
    background-position: center;
}
